@import "~bootstrap/scss/bootstrap";

// .App {
//   text-align: center;
//   background-color: #99ccff;
//   display: flex;
//   height: 100vh;
//   flex-direction: column;
// }

@media (prefers-reduced-motion: no-preference) {
}

.card {
  padding-top: 2em;
}

.popupButton {
  font-size: 25px;
  background: none;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
  color: #818181;
}
.popupButton:hover {
  background: none;
  background-color: none;
  color: #f1f1f1;
}
.contact-button {
  background: none;
  border: none;
  font-size: 25px;
  color: #818181;
}
.contact-button:hover {
  background: none;
  background-color: none;
  color: #f1f1f1;
}
.volunteerPendingRequests {
  width: fit-content;

  width: 50%;
  height: 50%;
}
.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  font-weight: 600;
  color:  #000099;
  text-decoration: none;
}

#mapid {
  align-self: center;
  margin-top: 2%;
  margin-left: 15%;
  height: 1500px;
}
.leaflet-container {
  height: 800px;
  width: 1500px;
}

.welcome {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}


.landing-page {
  display: flex;
  background-image: url('./images/landingLogo.jpg');
  padding-top: 400px;
  justify-content: flex-end;
  width: 100%;
  height: 100%;

}
.inner {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color:  #000099;
}
.volunteer-login {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.volunteer-register {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.elder-login {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.elder-register {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}

.nav-logged-in {
  font-size: 20px;
  background-color: #d97b93;
  // background-image: linear-gradient(
  //   153deg,
  //   #faa691 14.29%,
  //   #ffffff 14.29%,
  //   #ffffff 50%,
  //   #faa691 50%,
  //   #d97b93 64.29%,
  //   #ffffff 64.29%,
  //   #ffffff 100%
  // );
  background-size: 154.19px 78.56px;

  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  margin-left: 15%;
  width: 85%;
  font:  small-caps bold 40px/60px Georgia, serif;
}

.nav-logged-in-logo {
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}
.logout {
  margin-top: 3%;
  padding: 5px;
  margin-left: 40px;
  background-color: #28292e;
  text-decoration: none;
  float: right;
  margin-right: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;

}
.logout:hover {
  background-color: #0d9dbb;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2f323a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 200px;

  width: 15%;
  height: 100vh;
  background: #2f323a;
  font-size: 0.65em;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  line-height: 60px;
  box-sizing: border-box;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav .picture {
  width: 60%;
  height: 25%;
  border-radius: 100px;
  margin-bottom: 100px;
}

.dropdown { 
  display: flex;
  justify-content: space-between;

  padding: 1%;


}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px #000099(0,0,0,0.2);
  z-index: 1;
  font-size: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
.nav-logged-out {
  font-size: 20px;
  background-color:white;
  // background-image: linear-gradient(
  //   153deg,
  //   #faa691 14.29%,
  //   #ffffff 14.29%,
  //   #ffffff 50%,
  //   #faa691 50%,
  //   #d97b93 64.29%,
  //   #ffffff 64.29%,
  //   #ffffff 100%
  // );
  background-size: 154.19px 78.56px;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  font:  small-caps bold 40px/60px Georgia, serif;
  color: #000099;
}
.nav-logged-out a {
  color: #000099;
}
.table-pending {
  margin-top: 100px;
  padding-top: 100px;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}
.open-requests{
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 100px;
  color: black; 
  margin-left: 15%; 
}
.elder-table {
  margin-top: 100px;
  padding-top: 200px;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}
.your-requests{
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 100px;
  color: black;
}
.table-completed {
  margin-top: 200px;
  padding-top: 200px;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}
.accepted-requests{
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 80px;
  color: black;
  margin-left: 15%;
}
.logged-out-logo {
  font-size: 60px;
  color: #000099;
  opacity: 1;
  font-weight: 600;
}
.dependent{
  text-align: center;
  padding-top: 40px;
  font-weight: 700;
  font-size: 80px;
  color: black;
  margin-left: 15%;
}
.add-contact {
  flex-direction: column-reverse;
  width: 50%;
  align-self: center;
  margin-top: 200px;
  margin-left: 15%;
}

.alert {
  font-size: 40px;
  font-weight: 400;
}

.volunteer-landing {
  padding: 100px;
  font-size: 600px;
  font-weight: 600;
  margin-left: 15%;
}
.volunteer-landing h1 {
  font-size: 100px;
  font-weight: 600;
  text-align: center;
}

.form-group-login {
  display: flexbox;
  justify-content:flex-end;
  // background-color: #79a4e9;
  font-weight: bold;
  color: #28292e;
  padding: 2%;
  position: absolute;
  right: 3%;
  top: 7%;  
}

.form-group-register {
  display: flexbox;
  justify-content:flex-end;
  // background-color: #79a4e9;
  font-weight: bold;
  color: #28292e;
  padding: 2%;
  position: absolute;
  right: 3%;
  top: 7%;  
}