@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  background-color: pink;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
}

.card {
  padding-top: 2em;
}

.popupButton {
  font-size: 25px;
  background: none;
  border: none;
  margin-top: 5px;
  margin-right: 20px;
  color: #818181;
}
.contact-button{
  background: none;
  border: none;
  font-size: 25px;
  color: #818181;
}

.volunteerPendingRequests {
  width: fit-content;

  width: 50%;
  height: 50%;
}
.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

#mapid {
  padding-top: 100px;
  align-self: center;
  padding-left: 100px;
  width: 50%;
  margin-left: 25%;
}
.leaflet-container {
  height: 400px;
  width: 400px;
}
.inner {
  background-color: purple;
}
.welcome {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.landing-page {
  display: flex;

  padding-top: 400px;
  justify-content: space-between;
}
.inner {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: black;
}
.volunteer-login {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.volunteer-register {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.elder-login {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}
.elder-register {
  align-self: center;
  padding-top: 100px;
  width: 30%;
}

.nav-logged-in {
  font-size: 20px;
  background-color: #1974e3;

  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  margin-left: 15%;
  width: 85%;
}

.nav-logged-in-logo {
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}
.logout {
  padding: 5px;
  margin-left: 40px;
  background-color: #28292e;
  text-decoration: none;
  float: right;
  margin-right: 40px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
  transition-property: background;
}
.logout:hover {
  background-color: #0d9dbb;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2f323a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 200px;

  width: 15%;
  height: 100vh;
  background: #2f323a;
  font-size: 0.65em;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  line-height: 60px;
  box-sizing: border-box;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.sidenav .picture {
  width: 60%;
  height: 25%;
  border-radius: 100px;
  margin-bottom: 100px;
}
.nav-logged-out {
  font-size: 20px;
  background-color: #1974e3;
  height: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
}
.nav-logged-out a {
  color: black;
}
.table-pending {
  margin-top: 200px;
  padding-top: 200px;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}
.elder-table {
  margin-top: 200px;
  padding-top: 200px;
  align-self: center;
  width: 70%;
  margin-left: 25%;
}
.table-completed {
  margin-top: 200px;
  padding-top: 200px;
  align-self: center;
  width: 70%;
  margin-left: 15%;
}
.logged-out-logo {
  font-size: 40px;
  color: black;
  opacity: 1;
  font-weight: 600;
}
  
.add-contact {
  flex-direction: column-reverse;
  width: 50%;
  align-self: center;
  margin-top: 200px;
 
}

.alert{
  font-size: 40px;
  font-weight: 400;


}